header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    height: 60px;   /* adjust size if you want */
}

header nav ul {
    display: flex;
    gap: 20px; /* space between menu items */
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
